.link{
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: color 0.3s ease;
}
.link:hover {
  color: green;
}
.navigation{
  display: flex;
  gap: 24px;
  align-items: center;
  font-size: 18px;
  min-width: 100%;
}
.active{
  color:red;
  text-decoration: underline;
}
