.link{
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: color 0.3s ease;
}
.link:hover {
  color: green;
}
.headerNav{
  display: flex;
  gap: 24px;
  align-items: center;
  font-size: 18px;
  min-width: 100%;
}
.active{
  color:red;
  text-decoration: underline;
}
.header {
  background-color: white;
  padding: 16px 32px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}
